@model ListViewModel<Dish>

@{
    ViewData["Title"] = "Menu";
    var categories = ViewData["Groups"] as List<DishGroup>;
    int currentGroup = (int)ViewData["CurrentGroup"];
    var text = currentGroup != 0 ? categories.FirstOrDefault(g => g.DishGroupId == currentGroup).GroupName : "Все";
}


<div class="row">
    <div class="col-2">



        <div class="dropdown mt-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-expanded="false"
               asp-action="Index" asp-controller="Product"
               aria-haspopup="true">
                    @text
            </button>
            <div class="dropdown-menu"
                 aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item"
                   asp-action="Index"
                   asp-controller="Product">Все</a>
                    @foreach (var item in categories)
                    {
                    <a class="dropdown-item" asp-action="Index"
                       asp-controller="Product"
                       asp-route-group="@item.DishGroupId"
                       asp-route-pageNo="1">@item.GroupName</a>
                    }
            </div>
        </div>
    </div>

    <div class="col-10">
        <div class="row">
             
                
                <partial name="_ListPartial" model="@Model" />
                
        </div>

    </div>



    <ul class="pagination pagination-lg">
        @for (int i=1;i<=Model.TotalPages;i++)
        {
            @if (i == Model.CurrentPage)
            {
                <li class="page-item active" aria-current="page" asp-action="Index" asp-controller="Product">
                    <span class="page-link">
                        @i
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
            }
            else
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-controller="Product"
                       asp-route-pageNo=@i>@i</a>
                </li>
            }
            
        }
    </ul>
</div>
