<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebLabs</title>
    <!--link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebLabs.styles.css" asp-append-version="true" />


    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <header>

        <!-- Панель навигации -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <!-- меню сайта -->
            <div class="d-flex ms-0">
                <a class="navbar-brand" href="#">WebLabs</a>
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Лб 2 (Высоцкий 10333)</a>
                    <a class="nav-item nav-link" asp-area="" asp-controller="Product" asp-action="Index">Каталог</a>
                    <a class="nav-item nav-link" asp-area="Admin" asp-page="/Index">Администрирование</a>
                </div>
            </div>
            <!-- меню сайта - конец -->
            <!-- Информация пользователя -->
            <div class="d-flex float-end collapse navbar-collapse justify-content-end">
                <a asp-area="" asp-controller="Cart" asp-action="Index" class="navbar-text">
                    00,0 руб <i class="fas fa-shopping-cart nav-color"></i> (0)
                </a>

                <div class="dropdown ms-4 nav-color">

                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="images/dog.jpeg" width="50"
                             alt="User" class="rounded" />
                    </button>

                    <div class="dropdown-menu dropdown-menu-end"
                         aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-item-text">
                            <img src="images/dog.jpeg" width="50"
                                 alt="User" class="rounded" />
                            vysotskiy@mail.ru
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="UserProducts">Мои товары</a>
                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Log off</a>
                    </div>
                </div>
            </div>

        </nav> <!-- Панель навигации - конец -->
    </header><!-- header - конец -->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="fixed-bottom">
        <div class="navbar navbar-dark navbar-expand-md bg-dark">
            <div class="navbar-nav collapse navbar-collapse justify-content-end">
                <a class="nav-item nav-link" href="http://www.facebook.com">
                    <i class="fab fa-facebook-f fa-2x"></i>
                </a>
                <a class="nav-item nav-link" href="http://www.vk.com">
                    <i class="fab fa-vk fa-2x"></i>
                </a>
                <a class="nav-item nav-link" href="http://www.twitter.com">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
