@using Microsoft.AspNetCore.Identity;
@using WebLabs.DAL.Entities;
@inject SignInManager<ApplicationUser> signInManager

<div class="d-flex float-end collapse navbar-collapse justify-content-end">
    @if (signInManager.IsSignedIn(User))
{
    @await Component.InvokeAsync("Cart")

    <div class="dropdown ms-4 nav-color">

        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="@Url.Action("GetAvatar","Image")" width="50"
                 alt="User" class="rounded" />
        </button>

        <div class="dropdown-menu dropdown-menu-end"
             aria-labelledby="dropdownMenuButton">
            <div class="dropdown-item-text">
                    <imgg img-action="GetAvatar"
                         img-controller="Image"
                         width="30" alt="User"
                         class="rounded bg-light" />
                    @User.Identity.Name
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="UserProducts">Мои товары</a>
                <form asp-area="Identity"
                      asp-page="/Account/Logout"
                      asp-route-returnurl="@ViewContext.HttpContext.Request.Path">
                    <input type="submit"
                           value="Log off"
                           class="dropdown-item" />
                </form>
            <!--a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Log off</a-->
        </div>
    </div>
    }
    else
        {
            <ul class="nav navbar-nav ml-auto">
                <li>
                    <a class="nav-item nav-link"
                       asp-area="Identity"
                       asp-page="/Account/Login">
                        Войти
                    </a>
                </li>
                <li>
                    <a class="nav-item nav-link"
                       asp-area="Identity"
                       asp-page="/Account/Register">
                        Зарегистрироваться
                    </a>
                </li>
            </ul>
        }
</div>