<div class="d-flex float-end collapse navbar-collapse justify-content-end">
    @await Component.InvokeAsync("Cart")

    <div class="dropdown ms-4 nav-color">

        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="images/dog.jpeg" width="50"
                 alt="User" class="rounded" />
        </button>

        <div class="dropdown-menu dropdown-menu-end"
             aria-labelledby="dropdownMenuButton">
            <div class="dropdown-item-text">
                <img src="images/dog.jpeg" width="50"
                     alt="User" class="rounded" />
                vysotskiy@mail.ru
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="UserProducts">Мои товары</a>
            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Log off</a>
        </div>
    </div>
</div>